In [1]:
import pandas as pd
import numpy as np
import collections

In [14]:
url = 'https://raw.githubusercontent.com/mattharrison/datasets/master/data/2020-jetbrains-python-survey.csv'
df = pd.read_csv(url)
df.head()

/home/hossein/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (152) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy

In [15]:
for c in sorted(df.columns):
    print(c,'-->', df[c].dtype)

age --> object
are.you.datascientist --> object
bigdata.Apache Beam --> object
bigdata.Apache Flink --> object
bigdata.Apache Hadoop/MapReduce --> object
bigdata.Apache Hive --> object
bigdata.Apache Kafka --> object
bigdata.Apache Samza --> object
bigdata.Apache Spark --> object
bigdata.Apache Tez --> object
bigdata.ClickHouse --> object
bigdata.Dask --> object
bigdata.None --> object
bigdata.Other --> object
ci.AppVeyor --> object
ci.Bamboo --> object
ci.CircleCI --> object
ci.CruiseControl --> object
ci.Gitlab CI --> object
ci.Jenkins / Hudson --> object
ci.None --> object
ci.Other --> object
ci.TeamCity --> object
ci.Travis CI --> object
cloud.platform.AWS --> object
cloud.platform.DigitalOcean --> object
cloud.platform.Google Cloud Platform --> object
cloud.platform.Heroku --> object
cloud.platform.Linode --> object
cloud.platform.Microsoft Azure --> object
cloud.platform.None --> object
cloud.platform.OpenShift --> object
cloud.platform.OpenStack --> object
cloud.platform.Other --> object
cloud.platform.PythonAnywhere --> object
cloud.platform.Rackspace --> object
company.size --> object
configuration.management.Ansible --> object
configuration.management.Chef --> object
configuration.management.Custom solution --> object
configuration.management.None --> object
configuration.management.Other --> object
configuration.management.Puppet --> object
configuration.management.Salt --> object
country.live --> object
data.frameworks.Gensim --> object
data.frameworks.Keras --> object
data.frameworks.MXNet --> object
data.frameworks.Matplotlib --> object
data.frameworks.NLTK --> object
data.frameworks.None --> object
data.frameworks.NumPy --> object
data.frameworks.Other --> object
data.frameworks.Pandas --> object
data.frameworks.PyTorch --> object
data.frameworks.SciKit-Learn --> object
data.frameworks.SciPy --> object
data.frameworks.Seaborn --> object
data.frameworks.TensorFlow --> object
data.frameworks.Theano --> object
database.Amazon Redshift --> object
database.Cassandra --> object
database.Couchbase --> object
database.DB2 --> object
database.HBase --> object
database.MS SQL Server --> object
database.MongoDB --> object
database.MySQL --> object
database.Neo4j --> object
database.None --> object
database.Oracle Database --> object
database.Other --> object
database.PostgreSQL --> object
database.Redis --> object
database.SQLite --> object
database.h2 --> object
develop.for.cloud.Directly in the production environment --> object
develop.for.cloud.In Docker containers --> object
develop.for.cloud.In remote development environments --> object
develop.for.cloud.In virtual machines --> object
develop.for.cloud.Locally with virtualenv (or similar) --> object
develop.for.cloud.None of the following --> object
develop.for.cloud.Other --> object
develop.for.cloud.With local system interpreter --> object
devenv.os.BSD --> object
devenv.os.Linux --> object
devenv.os.Other --> object
devenv.os.Windows --> object
devenv.os.macOS --> object
employment.status --> object
first.learn.about.main.ide --> object
how.involved.Computer graphics --> object
how.involved.Data analysis --> object
how.involved.Desktop development --> object
how.involved.DevOps / System administration / Writing automation scripts --> object
how.involved.Educational purposes --> object
how.involved.Embedded development --> object
how.involved.Game development --> object
how.involved.Machine learning --> object
how.involved.Mobile development --> object
how.involved.Multimedia applications development --> object
how.involved.Network programming --> object
how.involved.Programming of web parsers / scrapers / crawlers --> object
how.involved.Software prototyping --> object
how.involved.Software testing / Writing automated tests --> object
how.involved.Web development --> object
how.often.use.main.ide --> object
ide.editor.Atom --> object
ide.editor.Eclipse + Pydev --> object
ide.editor.Emacs --> object
ide.editor.IDLE --> object
ide.editor.IntelliJ IDEA --> object
ide.editor.Jupyter Notebook --> object
ide.editor.JupyterLab --> object
ide.editor.None --> object
ide.editor.NotePad++ --> object
ide.editor.Other --> object
ide.editor.PyCharm Community Edition --> object
ide.editor.PyCharm Professional Edition --> object
ide.editor.Python Tools for Visual Studio (PTVS) --> object
ide.editor.Spyder --> object
ide.editor.Sublime Text --> object
ide.editor.VS Code --> object
ide.editor.Vim --> object
ide.main --> object
is.python.main --> object
isolate.environments.Conda --> object
isolate.environments.Docker --> object
isolate.environments.None --> object
isolate.environments.Other --> object
isolate.environments.Pipenv --> object
isolate.environments.Poetry --> object
isolate.environments.Vagrant  / virtual machines --> object
isolate.environments.Virtualenv --> object
job.role.Architect --> object
job.role.Business analyst --> object
job.role.CIO / CEO / CTO --> object
job.role.DBA --> object
job.role.Data analyst --> object
job.role.Developer / Programmer --> object
job.role.Other --> object
job.role.Product manager --> object
job.role.QA engineer --> object
job.role.Systems analyst --> object
job.role.Team lead --> object
job.role.Technical support --> object
job.role.Technical writer --> object
job.team --> object
main.purposes --> object
missing.features.main.ide --> object
nps.main.ide --> float64
orm.Dejavu --> object
orm.Django ORM --> object
orm.No database development --> object
orm.Other --> object
orm.Peewee --> object
orm.PonyORM --> object
orm.Raw SQL --> object
orm.SQLAlchemy --> object
orm.SQLObject --> object
orm.Tortoise ORM --> object
other.frameworks.Asyncio --> object
other.frameworks.Kivy --> object
other.frameworks.None --> object
other.frameworks.Other --> object
other.frameworks.Pillow --> object
other.frameworks.PyGTK --> object
other.frameworks.PyQT --> object
other.frameworks.Pygame --> object
other.frameworks.Requests --> object
other.frameworks.Scrapy --> object
other.frameworks.Six --> object
other.frameworks.Tkinter --> object
other.frameworks.Twisted --> object
other.frameworks.aiohttp --> object
other.frameworks.wxPython --> object
other.lang.Bash / Shell --> object
other.lang.C# --> object
other.lang.C/C++ --> object
other.lang.Clojure --> object
other.lang.CoffeeScript --> object
other.lang.Go --> object
other.lang.Groovy --> object
other.lang.HTML/CSS --> object
other.lang.Java --> object
other.lang.JavaScript --> object
other.lang.Kotlin --> object
other.lang.None --> object
other.lang.Objective-C --> object
other.lang.Other --> object
other.lang.PHP --> object
other.lang.Perl --> object
other.lang.R --> object
other.lang.Ruby --> object
other.lang.Rust --> object
other.lang.SQL --> object
other.lang.Scala --> object
other.lang.Swift --> object
other.lang.TypeScript --> object
other.lang.Visual Basic --> object
other.purposes.Computer graphics --> object
other.purposes.Data analysis --> object
other.purposes.Desktop development --> object
other.purposes.DevOps / System administration / Writing automation scripts --> object
other.purposes.Educational purposes --> object
other.purposes.Embedded development --> object
other.purposes.Game development --> object
other.purposes.Machine learning --> object
other.purposes.Mobile development --> object
other.purposes.Multimedia applications development --> object
other.purposes.Network programming --> object
other.purposes.Other --> object
other.purposes.Programming of web parsers / scrapers / crawlers --> object
other.purposes.Software prototyping --> object
other.purposes.Software testing / Writing automated tests --> object
other.purposes.Web development --> object
python.version.most --> object
python.version.upgrade.ActivePython --> object
python.version.upgrade.Anaconda --> object
python.version.upgrade.Automatic upgrade via cloud provider --> object
python.version.upgrade.Build from source --> object
python.version.upgrade.I don’t update --> object
python.version.upgrade.I use Docker containers --> object
python.version.upgrade.Intel Distribution for Python --> object
python.version.upgrade.OS-provided Python (via apt-get, yum, homebrew, etc_) --> object
python.version.upgrade.Other --> object
python.version.upgrade.Python_org --> object
python.version.upgrade.Somebody else manages Python updates for me --> object
python.version.upgrade.pyenv --> object
python.version.upgrade.pythonz --> object
python.years --> object
python2.version.most --> object
python3.version.most --> object
run.in.cloud.In virtual machines --> object
run.in.cloud.None of the following --> object
run.in.cloud.On a Platform-as-a-Service (such as Heroku or Google App Engine) --> object
run.in.cloud.Other --> object
run.in.cloud.Serverless (such as AWS Lambda or Cloud Functions) --> object
run.in.cloud.Within containers --> object
several.projects --> object
team.size --> object
unittesting.Hypothesis --> object
unittesting.None --> object
unittesting.Other --> object
unittesting.Tox --> object
unittesting.doctest --> object
unittesting.mock --> object
unittesting.nose --> object
unittesting.pytest --> object
unittesting.unittest --> object
use.python.most --> object
web.frameworks.Bottle --> object
web.frameworks.CherryPy  --> object
web.frameworks.Django --> object
web.frameworks.Falcon --> object
web.frameworks.FastAPI --> object
web.frameworks.Flask  --> object
web.frameworks.Hug --> object
web.frameworks.None --> object
web.frameworks.Other --> object
web.frameworks.Pyramid  --> object
web.frameworks.Tornado --> object
web.frameworks.web2py --> object
years.of.coding --> object

In [16]:
countr = collections.defaultdict(list)
for col in sorted(df.columns):
    period_count = col.count('.')
    if period_count >= 2 :
        part_end = 2
    else:
        part_end = 1
    parts = col.split('.')[:part_end]
    countr['.'.join(parts)].append(col)
# print(countr)

In [17]:
uniq_cols = []
for k,v in countr.items():
    if len(v) == 1:
        uniq_cols.append(v[0])
uniq_cols

['age',
 'are.you.datascientist',
 'company.size',
 'country.live',
 'employment.status',
 'first.learn.about.main.ide',
 'how.often.use.main.ide',
 'ide.main',
 'is.python.main',
 'job.team',
 'main.purposes',
 'missing.features.main.ide',
 'nps.main.ide',
 'python.years',
 'python2.version.most',
 'python3.version.most',
 'several.projects',
 'team.size',
 'use.python.most',
 'years.of.coding']

In [18]:
(df
[uniq_cols]
.rename(columns = lambda c:c.replace('.','_'))
.age
.value_counts(dropna=False)
)

NaN            29701
21–29           9710
30–39           7512
40–49           3010
18–20           2567
50–59           1374
60 or older      588
Name: age, dtype: int64

In [20]:
(df
[uniq_cols]
.rename(columns = lambda c:c.replace('.','_'))
# .age
# .str.slice(0,2)
# .astype(float)
# .astype('Int64')
.are_you_datascientist
.value_counts(dropna=False)
)

NaN      33198
No       13399
Yes       6710
Other     1155
Name: are_you_datascientist, dtype: int64

In [11]:
(df
[uniq_cols]
.rename(columns = lambda c:c.replace('.','_'))
.assign(age = lambda df_:df_.age.str.slice(0,2).astype(float).astype('Int64')
,are_you_datascientist = lambda df_:df_.are_you_datascientist.replace({'Yes':True,'No':False}))
.are_you_datascientist
.value_counts(dropna=False)
)

NaN      33198
False    13399
True      6710
Other     1155
Name: are_you_datascientist, dtype: int64

In [12]:
(df
[uniq_cols]
.rename(columns = lambda c:c.replace('.','_'))
.assign(age = lambda df_:df_.age.str.slice(0,2).astype(float).astype('Int64')
,are_you_datascientist = lambda df_:df_.are_you_datascientist.replace({'Yes':True,'No':False}))
.company_size
.value_counts(dropna=False)
)

NaN                35037
51–500              4608
More than 5,000     3635
11–50               3507
2–10                2558
1,001–5,000         1934
Just me             1492
501–1,000           1165
Not sure             526
Name: company_size, dtype: int64

In [2]:
city_bike_df = pd.read_csv('201306-citibike-tripdata.csv')
city_bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [43]:
city_bike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [69]:
(city_bike_df
.rename(columns = lambda c:c.replace(' ','_'))
.assign(starttime = lambda df_:pd.to_datetime(df_.starttime)
,stoptime = lambda df_:pd.to_datetime(df_.stoptime)
,start_station_id =lambda df_: df_.start_station_id.astype('category')
,usertype =lambda df_: df_.usertype.astype('category')
)
).memory_usage()

Index                          128
tripduration               4621624
starttime                  4621624
stoptime                   4621624
start_station_id           1166398
start_station_name         4621624
start_station_latitude     4621624
start_station_longitude    4621624
end_station_id             4621624
end_station_name           4621624
end_station_latitude       4621624
end_station_longitude      4621624
bikeid                     4621624
usertype                    577827
birth_year                 4621624
gender                     4621624
dtype: int64

In [68]:
city_bike_df.memory_usage()

Index                          128
tripduration               4621624
starttime                  4621624
stoptime                   4621624
start station id           4621624
start station name         4621624
start station latitude     4621624
start station longitude    4621624
end station id             4621624
end station name           4621624
end station latitude       4621624
end station longitude      4621624
bikeid                     4621624
usertype                   4621624
birth year                 4621624
gender                     4621624
dtype: int64

In [25]:
def tweak_courses(df):
    return(
        df.
        assign(




    )

Index(['Unnamed: 0', 'title', 'hours', 'videos', 'exercises', 'participants',
       'xp', 'clean', 'descriptions', 'tracks', 'instructors', 'datasets',
       'prereqs', 'link', 'topic', 'tech'],
      dtype='object')

In [10]:
#1. Find out which columns have missing data
city_bike_df.isna().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id              True
end station name            True
end station latitude        True
end station longitude       True
bikeid                     False
usertype                   False
birth year                  True
gender                     False
dtype: bool

In [11]:
#2. Count the number of missing values for each column.
city_bike_df.isna().sum()

tripduration                    0
starttime                       0
stoptime                        0
start station id                0
start station name              0
start station latitude          0
start station longitude         0
end station id              18059
end station name            18059
end station latitude        18059
end station longitude       18059
bikeid                          0
usertype                        0
birth year                 240321
gender                          0
dtype: int64

In [15]:
#Find the percentage of missing values for each column
city_bike_df.isna().sum() * 100 /city_bike_df.shape[0]

tripduration                0.000000
starttime                   0.000000
stoptime                    0.000000
start station id            0.000000
start station name          0.000000
start station latitude      0.000000
start station longitude     0.000000
end station id              3.126001
end station name            3.126001
end station latitude        3.126001
end station longitude       3.126001
bikeid                      0.000000
usertype                    0.000000
birth year                 41.599403
gender                      0.000000
dtype: float64

In [16]:
#4. Find the rows with missing data.
city_bike_df.isna().any(axis=1)

0         False
1         False
2          True
3         False
4         False
          ...
577698    False
577699     True
577700    False
577701     True
577702     True
Length: 577703, dtype: bool

In [24]:
#5. Find the rows that are duplicated
(city_bike_df
.assign(is_duplicated = lambda df_:df_ == df_.shift(1))
)

ValueError: Wrong number of items passed 15, placement implies 1

In [25]:
city_bike_df.dup.any()

AttributeError: 'DataFrame' object has no attribute 'is_duplicated'